.about_us{

    padding:1em;
    &__col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 55vh;
        p{
            padding-right: 27px;
            font-weight: 200;
        }

        h3{
            font-weight: 200;
        }
    }
    &__heading::after{
        content: ""; 
        display: block;
        height: 0.4px;
        background-color: black;
        width: 15%;
        margin-top:10px;
        
    }
    .video{
        height: 100%;
        width: 100%;
    }

    &__wrapper{
    padding-bottom: 1em;
    }
    &__title{
        h2{
            font-weight: 300;
        }
    }
}

@media(max-width:799px) {

    .about_us {

            .video {
                    height: 100%;
                    width: 90%;
                }
    }
}