.about_us{

    padding:1em;
    &__col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 55vh;
        p{
            padding-right: 27px;

        }
    }
    &__heading::after{
        content: ""; 
        display: block;
        height: 2px;
        background-color: black;
        width: 15%;
        margin-top:10px;
    }
    .video{
        height: 100%;
        width: 100%;
    }

    &__wrapper{
    padding-bottom: 1em;
    }
}