/* Styling the hero section */
.hero {
    position: relative;
    height: 100vh;
    /* Take 100% viewport height */
    width: 100%;
    /* Take 100% viewport width */
    overflow: hidden;
}

/* Styling the hero text */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slider 10.5s infinite;
}

.slider .slide:nth-child(1) {
    // background-image: url('http://izi-design.local/wp-content/uploads/2024/04/IMG_1532photo.jpg');
    background: rgba(0, 0, 0, 0.4) url('http://izi-design.local/wp-content/uploads/2024/04/IMG_1532photo.jpg');
    background-blend-mode: darken;
    animation-delay: 0s;
}

.slider .slide:nth-child(2) {
    // background-image: url('http://izi-design.local/wp-content/uploads/2024/04/POPR_0E8A1572DAL-MEBLE-T.jpg');
    background: rgba(0, 0, 0, 0.4) url('http://izi-design.local/wp-content/uploads/2024/04/POPR_0E8A1572DAL-MEBLE-T.jpg');
    background-blend-mode: darken;
    animation-delay: -3.5s;
}

.slider .slide:nth-child(3) {
    // background-image: url('http://izi-design.local/wp-content/uploads/2024/04/Izi_Design_Saudi_Aramco_Paulina_Hinz_Photos-1.jpg');
    background: rgba(0, 0, 0, 0.4) url('http://izi-design.local/wp-content/uploads/2024/04/Izi_Design_Saudi_Aramco_Paulina_Hinz_Photos-1.jpg');
    background-blend-mode: darken;
    animation-delay: -7s;
}


@keyframes slider {

    0%,
    28%,
    100% {
        opacity: 1;
        animation-timing-function: ease;
        z-index: 0;
    }

    33% {
        opacity: 0;
        animation-timing-function: step-end;
        z-index: 0;
    }

    95% {
        opacity: 1;
        animation-timing-function: step-end;
        z-index: -1;
    }
}