.site-main {
    z-index: 200;
    position: relative;
    overflow: hidden;
}



body {
    margin: 0;
    font-family: "Inter Tight", sans-serif;
    background-color: black;
    color: white;
}


.w-section {
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0em;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}


.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-border-bottom::after {
    content: "";
    display: block;
    height: 2px;
    width: 25px;
    background-color: white;
    margin: .3em 0;

}



section {
    margin: 0 0;
    margin-top: 5em;
    margin-bottom: 5em;

}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}


.wp-block-heading {
    font-size: 90px !important;
}


section {
    overflow: hidden;
}



