// menu mobile


.go-white{
    background-color: #000000;
}
.go-black{
    color:rgb(255, 255, 255);
}

header{
    background-color: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top:0;
    z-index: 999;
    width: 100%;
    transition: .5s;
}
@media(max-width:799px){
    header{
        background-color: transparent;
    }
    .menu-active{
        transform: translateX(0)!important;
        opacity: 0;
    }

    .active{
        display:block!important;
    }
    #site-navigation{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: transparent;
        height: 87px;
    }

    .mobile-hamburger{
        width:50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        svg{
            color:rgb(255, 255, 255);
        }

    }

    .custom-menu{
        position: fixed;
        display: flex;
        flex-direction: column;
        height: calc(100% - 120px);
        overflow: scroll;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 40px;
        bottom: 0;
        left: 0;
        background-color: #f5f5f5;
        color: black!important;
        transform: translateX(calc(100%));
        opacity: 1;
        transition: .4s;
        

        ul{
            list-style: none;
            padding-left: 30%;
            li{
                padding: 10px 0;
                a{
                    text-decoration: none;
                    color:black;
                    font-size: 33px;
                }
            }

            .menu-item-has-children{
                position: relative;
                }
                .menu-item-has-children::after{
                    content: "";
                    border: solid #221f3c;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    position: absolute;
                    top:0;
                    left:90%;
                    margin-top: 20px;
                    transform: rotate(45deg) translate(-20%,-100%);
                }

                .sub-menu{
                    display:none;
                    padding-left: 2%;
                        li{
                            a{
                                font-size: 18px;
                            }  
                         }
                         .sub-menu{
                            display:none;
                            padding-left: 2%;
                                li{
                                    a{
                                        font-size: 15px!important;
                                    }
                                }
                    }

        }

        
    }

    .site-branding{
        width:50%;
            svg{
                
                max-width: 130px!important;
                max-height: 60px!important;
            }
    }


}



}





// menu desktop
@media(min-width:800px){
.mobile-hamburger{
    display:none;
}
.main-navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;


    .nav-menu{
        justify-self: flex-start;
        gap:10px;
        width: 50vw;
    }

}
.custom-menu{
    padding-right: 2em;
}
.menu-item-has-children{
position: relative;
}
.menu-item-has-children::after{
    content: "";
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top:50%;
    right: 0;
    transform: rotate(45deg) translate(-20%,-100%);
}
.sub-menu .menu-item-has-children::after{
    content: "";
    border: solid #322A62;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    top:50%;
    right: 5%;
    transform: rotate(-45deg) translate(0%,-60%);
}


div.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-evenly;
    width: 100%;

}
div.nav-menu li {
    position: relative;
    line-height: 1.7;
}
div.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    display: block;
    font-family: Inter Tight;
    transition: .5s;
}

div.nav-menu > ul > li > a{
    padding: 10px 30px;
    font-size: 1.2em;
}
div.nav-menu > ul > li:hover > a{
    color: white;
}

/* Sub/Children Menu */
div.nav-menu .sub-menu,
div.nav-menu .children {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    min-width: 200px;
    display: none;
    background-color: black;

}
div.nav-menu li:hover > .sub-menu,
div.nav-menu li:hover > .children {
    display: block;
}
div.nav-menu .sub-menu a,
div.nav-menu .children a {
    padding: 10px 20px;
    color:black;
    
}
div.nav-menu .sub-menu a:hover,
div.nav-menu .children a:hover {
    color: black;


    
}
div.nav-menu .sub-menu li:hover a,
div.nav-menu .children li:hover a {
    background: transparent;
}

/* Grandchildren Menu */
div.nav-menu .sub-menu .sub-menu,
div.nav-menu .children .children {
    position: absolute;
    left: 100%;
    top: 0;
    background: transparent;
}

.site-branding {
    width: 50%;

    svg {
        padding-top: 10px;
        // max-width: 80px;
        // max-height: 80px;

        max-width: 260px !important;
        max-height: 120px !important;
    }


}

}