$primary-color: #333333;
$seconadary-color:#888888;
$accent-color: #BBBBBB;

@import 'components/menu.scss';
@import 'components/banner.scss';
@import 'typography.scss';
@import 'normalize.scss';
@import 'components/accordion-w-img.scss';
@import 'components/text-2.scss';
@import 'components/spacer-text.scss';
@import 'components/team-member.scss';
@import  'components/homepage.scss';
@import  'components/hero.scss';
@import  'components/portfolio.scss';

body{
    font-family: "Inter Tight", sans-serif;
    background-color: #333333;
    color:white;
}



.custom-container{
    max-width: 90%;
    margin: 0 auto;
}

.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}